.header{
  background-color: $celeste-header;
  // height: 80px;
  position: fixed;//posision fija
  width:100%;
  top:0;
  left:0;
  z-index: 2;
  svg{
    display:block;
  }
  
  .nav{
    display:flex;
    justify-content: space-between;
  
    // max-width: 992px;

    .nav-toggle{
      background:none;
      border:none;
      padding:0 20px;
      display:none;
      img{
        height:36px;
      }
    }
    .nav-menu{
      display:flex;
      flex-direction: row;
      margin-right: 40px;
      list-style: none;

      .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        font-weight: 400;
        line-height: 80px;
        width:max-content;

        .nav-menu-link{
        color:black;
        text-decoration: none;
        padding:8px 12px;
          &:hover{
            color:$hover-letras;
            font-weight: 600;
            transition: 0.3s;
          }
          
        }
          
      }
    }
    
    .logo{
      padding:0 40px;
      display: flex;
      align-items: center;
    }
  }
}