// color Pallete normal mode
$header: #e9eff5;
$body: #f8f9fa;
$cards: #c5d5ea;
$letras-bg-blue: #ffffff;
$bg-seccion: #0466c8;
$letras-nrml: #000000;
$hover-btn: #043260;
$back-menu: #2f2e41;
$subtitle: #83aed4;

// collor Pallete dark mode
$dark-header: #003a77;
$dark-body: #00172e;
$dark-cards: #c5d5ea;
$dark-letras-bg-blue: #ffffff;
$dark-bg-seccion: #003a77;
$dark-letras-nrml: #ffffff;
$dark-hvoer-btn: #043260;

@import 'general';
@import 'navbar';
@import 'cuerpo';

// Responsive Design
@import 'media-768';
