$celeste-header:#E9EFF5;
$fondo:#F8F9FA;
$back-menu:#2F2E41;
$hover-letras: #0466C8;
$letras: #D8E1E9;
$subtitle: #83AED4;
$hover-boton:#043260;
$cards-hobbis:#C5D5EA;

@import "general";
@import "navbar";
@import "cuerpo";


@import "media-768";



